body {
    background: linear-gradient(259.73deg, #0F103F 17.24%, #1B1D72 54.11%, #272AA5 91.73%);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #fff;
}

.header {
    background-color: #1E2E71;
    padding: 1rem;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.agenda {
    padding: 2rem;
}

.month {
    margin-bottom: 2rem;
}

.month h3 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.event {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #4F75FF;
    box-shadow: 2px 2px 4px 0px rgba(148, 148, 148, 0.25);
}

.event span {
    font-weight: 500;
    font-size: 1rem;
    color: #A5B0FF;
}

.event p {
    margin: 0;
    font-weight: 400;
}

button {
    background-color: #5468FF;
    border: #fff;
    border-radius: 5px;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #4153CC;
}

button.unsubscribe {
    background-color: #FF6A6A;
}

button.unsubscribe:hover {
    background-color: #D45555;
}
